body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #333;
  color: #fff;
}

.navbar .logo a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

.auth-buttons {
  display: flex;
  align-items: center;
}

.auth-buttons .btn {
  text-decoration: none;
  color: #fff;
  background-color: #333;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 15px;
  transition: background-color 0.3s ease;
}

.auth-buttons .btn:hover {
  background-color: #0056b3;
}

/* Menu Toggle Styles */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    flex-direction: column;
  }

  .nav-links li {
    padding: 10px;
  }

  .nav-links.active {
    display: flex;
  }

  .auth-buttons {
    display: none;
  }

  .menu-toggle {
    display: flex;
  }
}

/* page */

.page-title h1 {
  text-align: center;
}

#workout-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10px;
  gap: 20px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  text-align: center;
}

.card h2 {
  margin-top: 0;
}

.card button {
  margin-top: 10px;
  margin-left: 5px;
  padding: 10px 15px;
  font-size: 16px;
  background-color: #98b7d8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card button:hover {
  transition: 0.2s ease-out;
  color: black;
  background: transparent;
  border: 2px solid black;
}

#personal-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Footer */

footer {
  background-color: #333;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  flex: 1;
  margin: 10px;
  min-width: 200px;
}

.footer-section h3 {
  border-bottom: 2px solid #3498db;
  padding-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
  padding: 8px;
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#subscribe-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#email {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
}
